<%- include('./partials/header.ejs') %>

<main>
    <div class="cube">
      <span class="side top">alors vas-y clique!</span>
      <span class="side front">Tu es un de mes supers developpeurs?</span>
    </div>
    <form class="form hide">
      <div class="wrapper ">
        <li style="--i:4;"><input class="input" type="text" placeholder="Name"  name="name" ></li>
        <li style="--i:3;"><input class="input" type="password" placeholder="password"  name="password"></li>
        <li style="--i:2;"><input class="input" type="email" placeholder="E-mail"  name="email"></li>
        <button style="--i:1;" type="submit">Submit</button>
      </div>
    </form>
    <!-- <div class="switch-wrapper hide">
      <label class="switch">
        <input checked="checked" type="checkbox" >
        <div class="button hide">
          <div class="light"></div>
          <div class="dots"></div>
          <div class="characters"></div>
          <div class="shine"></div>
          <div class="shadow"></div>
        </div>
      </label>
    </div> -->

 

</main>
<%- include('./partials/footer.ejs') %>



